:root {
    --color-white: #FFFFFF;
    --color-green: #1DC9B7;
    --color-red: #F36060;
    --color-yellow: #FFB904;

    --color-blue-ligth: #E9F8FF;
    --color-green-ligth: #E8FAF8;
    --color-yellow-ligth: #FFF8E6;
    --color-gray-ligth: #F0F2F5;
    --color-red-ligth: #FDDFDF;

    --color-divider-normal: #EBEDF2;

    --color-primary-normal: #22A7F0;
    --color-primary-hover: #53BBF3;
    --color-primary-active: #0E8DD2;
    --color-primary-disable: #83CEF7;

    --color-gray-normal: #667788;
    --color-gray-hover: #8291A1;
    --color-gray-active: #3B454F;
    --color-gray-disable: #9FABB7;

    --color-background-color: #F9F9FC;
    --color-box-shadow-dark: rgba(82, 63, 105, .1);
    --color-box-shadow-pimary: rgba(103, 128, 159, 0.1);

    --color-text-dark: #434349;
    --color-text-gray: #67809F;
    --color-text-gray-dark: #959CB6;
    --color-text-gray-ligth: #8599B2;
    --color-text-blue: #22B9FF;
    --color-text-green: #1DC9B7;
    --color-text-red: #F36060;
    --color-text-yellow: #FFB904;

    --color-border-gray: #95A6BC;
    --color-border-gray-empty: #D1D9E2;
    --color-border-gray-focus: #67809F;
}
